<header>
	<div class="inner-wrap">
		<a class="logo" href="/">
			<span>SEO</span>
			<span>zp.</span>
			<span>ru</span>
		</a>

		<input type="checkbox" id="main-menu-switch" class="main-menu-switch">
		
		<nav>
			<ul class="main-menu">
				<li class="main-menu-item"><a href="#!">о нас</a></li>
				<li class="main-menu-item"><a href="#!">кейсы</a></li>
				<li class="main-menu-item"><a href="#!">услуги</a></li>
				<li class="main-menu-item"><a href="#!">контакты</a></li>
			</ul>
		</nav>
		
		<label for="main-menu-switch" class="main-menu-btn">
			<span class="line-1"></span>
			<span class="line-2"></span>
			<span class="line-3"></span>
			<span class="cross"></span>
		</label>
	</div>
</header>
