.top-sect {
  padding: 10px 0 30px;

  @media only screen and (max-width: $breakpoint-lg) {
    padding: 15px 0;
  }

  .inner-wrap {
    position: relative;
    min-height: 425px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media only screen and (max-width: $breakpoint-lg) {
      min-height: 300px;
    }

    @media only screen and (max-width: $breakpoint-640) {
      min-height: 195px;
    }

    @media only screen and (max-width: $breakpoint-480) {
      align-items: center;
    }


    &:after {
      content: '';
      position: absolute;
      top: 50%;
      //left: 550px;
      right: 80px;
      display: block;
      //width: 536px;
      transform: translateY(-50%);
      width: calc(50% - 80px);
      height: 400px;
      background: url("../images/top-screen-bg.png") no-repeat;
      background-size: contain;
      background-position: top center;

      @media only screen and (max-width: $breakpoint-xl) {
        right: 25px;
        width: calc(50% - 25px);
      }

      @media only screen and (max-width: $breakpoint-lg) {
        width: 400px;
        height: 280px;
      }

      @media only screen and (max-width: $breakpoint-md) {
        right: 10px;
        width: calc(50% - 10px);
      }

      @media only screen and (max-width: $breakpoint-640) {
        opacity: 0.3;
        top: 0;
        transform: none;
        width: 260px;
        height: 195px;
      }
    }
  }

  .main-header {
    color: var(--green);
    font-size: 3.9375rem;
    font-weight: 900;
    line-height: 1.2;
    width: 50%;
    //max-width: 470px;
    margin-bottom: 45px;
    position: relative;
    z-index: 1;
    text-transform: uppercase;

    @media only screen and (max-width: $breakpoint-640) {
      width: 100%;
    }

    @media only screen and (max-width: $breakpoint-480) {
      text-align: center;
    }
  }
}

.btn--prom {
  max-width: 220px;
  border-radius: 0;
  border: 1px solid var(--orange);
  position: relative;
  z-index: 1;
  line-height: 1.1;
  font-weight: 700;

  @media only screen and (max-width: $breakpoint-sm) {
    font-size: 1rem;
  }

  @media only screen and (max-width: $breakpoint-480) {
    background: linear-gradient(to top, var(--yellow), var(--orange));
    color: #fff;
    border: 0 solid var(--orange);
  }

  &:hover {
    //background-color:var(--orange);
    background: linear-gradient(to top, var(--yellow), var(--orange));
    color: #fff;
    border: 0 solid var(--orange);
  }
}
